<div class="dialog-container">
    <div class="dialog-content">
      <h2 class="dialog-title">Plus détaillée sur Workflow 1</h2>
      



      <div class="user-list">
        
        <tr>
          <td><b>Description :</b></td>
          <td>Workflow pour les recrutements.</td>
        </tr>
        <tr>
          <td><b>Date de création :   </b></td>
          <td>10h:30 , 02/04/2024</td>
        </tr>
        <tr>
          <td><b>Créateur :</b></td>
          <td>Ghzai ben yahya</td>
        </tr>
        
      </div>
      





      <div class="buttons-container">
        <button class="cancel-button" mat-button (click)="onCancelClick()">fermée</button>
      </div>
    </div>
  </div>
  


