

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: #CDE8ED;
  }
  
  
  .container{
    background-color: white;
      padding-top: 5px;
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 5px;
      border-radius: 20px;
  }
  h2 {
    text-align: center;
    color: #1877f2;
  }
  
  form {
  display: inline;
  padding-right: 20em;}
  
  label {
    margin-bottom: 12px;
    color: #505050;
    font-weight: bold;
    
  }
  
  input {
    width: -webkit-fill-available;
    padding: 8px;
    margin-top: 10px;
    padding-right: 29em;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  #description{
    padding-bottom: 20em;
  }
  
  button {
    padding: 10px;
    background-color: orange;
    color: black;
    margin-left: 90%;
    border: none;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 15px;
    font: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#ddd;
  }
  
  a {
    color: #1877f2;
    text-decoration: none;
  }
  
  
  .nav {
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    width: 50px; /* Ajustez la taille de votre image */
    height: auto; /* Garantit que la hauteur s'ajuste proportionnellement à la largeur */
    margin-right: 10px; /* Ajoute une marge à droite pour un espacement */
  }
  
  .sidebar {
    width: 300px;
    background: radial-gradient(circle at 0% 0%, #72a5e8, #f6f4f8);
    color: #fff;
    padding: 20px;
    height: 100vh;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    
  }
  .sidebar a:hover {
    color: #ffcc00; /* Couleur au survol */
  }
  
  .test{
    display: inline-flex;
    background-color: #CDE8ED;
  }

  .add{
    margin:inherit;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #CDE8ED;
    
  }
  
  .trach{
    vertical-align: middle;
      border-style: none;
      display: flex;
      width: 30px;
      margin-left: 59em;
  }