
<div class="flex justify-center items-center h-screen">
  <div class="container mx-auto">
    <div class="bg-white p-8 rounded-lg shadow-lg w-500 p-4">
<div class="container">
    <div> 
       
      <button class="align" ><a (click)="editWorkflow2()" >Continuer</a></button>
    </div>
    <form action="/submit" method="post">
      <input type="text" id="nom" name="nom" [(ngModel)]="workflow.name" required placeholder="Se connecter au 'Nom du workflow'">
      <label for="description">Informations</label>
      <input type="text" id="text" name="description" [(ngModel)]="workflow.description" required placeholder="Description">
    
      <label for="responsable">Responsable :</label><br>
      <select id="responsable" name="responsable" [(ngModel)]="workflow.role">
        <option value="Administrateur">Administrateur</option>
        <option value="Responsable workflow">Responsable workflow</option>
        <option value="Utilisateur">Utilisateur</option>
      </select>
</form>
</div>
</div>
</div>
</div>

  
      

 