.globalContainer{
  width: 100%;
  height: 100%;
  
}

/* .container {
    display: flex;
  }
   */
  /* .steps-container, .workflow-container {
    flex: 1;
  } */
  
  /* .steps-container {
    margin-right: 10px;
    border-radius: 15px;
  
  } */
  
  /* .workflow-container{
    background-color: white;
    border-radius: 15px;
    
  } */
/* 
  .add{
    background-color: aliceblue;
  } */
  