<div class="globalContainer">
  <app-steps></app-steps>  
</div>


<!-- 
<div class="flex justify-center items-center h-screen">
  <div class="container mx-auto">
    <div class="bg-white p-8 rounded-lg shadow-lg w-500 p-4">
     <div class="add"> -->
          <!-- <div class="container">
            <div class="steps-container">
              <app-steps></app-steps>
            </div>
            <div class="workflow-container">
              <app-create-workflow></app-create-workflow>
            </div>
            
           </div> -->
          
           
<!-- 
        </div>
        </div>
        </div>
        </div> -->
     

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
  