
<div class="flex justify-center items-center h-screen">
  <div class="container mx-auto">
    <div class="bg-white rounded-lg shadow-lg  p-4">
<label class="title-dash">STATISTIQUES DES WORKFLOWS </label>

<div class="container">
<div class="boxx">
    <div class="box"> Nombre total des workflows<br>
    <p>58655</p></div>
    <div class="box">Utilisateurs connectés<br>
    <p>526</p></div>
    <div class="box"> Nombre  des workflows actifs <br>
        <p>128</p></div>
        <div class="box"> Nombre  des workflows actifs <br>
            <p>128</p></div>
  </div>
  <div class="grid-container">
    <div class="grid-box1">
        <canvas id="doughnutCanvas" style="display: inline; width: 100px;"></canvas>
    </div>
    <div class="grid-box2">
        <canvas id="barCanvas"></canvas>
    </div>
    <div class="grid-box3"><span>Derniers messages:</span> 
        <div class="user-info">
            
            <div class="user-info-row">
              <img src="../../../assets/user3.png" alt="Image utilisateur 1">
              <span>Melissa Tudella</span>
            </div>
           
            <div class="user-info-row">
              <img src="../../../assets/user1.png"  alt="Image utilisateur 2">
              <span>Jessica Duvon</span>
            </div>
            <div class="user-info-row">
              <img src="../../../assets/user2.png" alt="Image utilisateur 3">
              <span>Chris Lambert</span>
            </div>
            <button><a>Lancer une nouvelle discusion</a></button>
          </div>
          
            
          
    </div>
  </div>
</div>
</div>
</div>
</div>
