 /* .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .button-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 15px;
  }
  
  .button-green { background-color: green; }
  .button-pink { background-color: pink; }
  .button-blue { background-color: blue; }
  .button-purple { background-color: purple; }
  .button-red { background-color: red; }
  
  .button-container button {
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */

.workflow-g{
  display: flex;
  padding: 15px;
  width: 100%;
  
}

.workflow-steps{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: antiquewhite;
  width: 20%;
  height: 100%;
  
}

.workflow-create{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 1000px;
  background-image:
  linear-gradient(to right, rgb(232, 230, 230) 1px, transparent 1px),
  linear-gradient(to bottom, rgb(232, 230, 230) 1px, transparent 1px);
background-size: 10px 10px; /* Taille des carreaux */
background-position: 0 0, 0 10px, 10px -10px, -10px 0px; /* Position des carreaux */

margin-left: 20px;

}

.start-item{
  background-color: green; 
  border: solid 1 rgb(121, 118, 118);
  border-radius: 10px;
  margin: 15px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  color: #ffff;
  width: 120px;
}

.exit-item{
  background-color: red;
  border: solid 1 rgb(121, 118, 118);
  border-radius: 10px;
  margin: 15px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  color: #ffff;
  width: 120px;
}
.create-container, .condi-container {
  display: flex;
}


.create-container {
  flex-grow: 1; /* Le premier conteneur prendra autant de place que possible */
}

.condi-container {
  margin-left: 10px; /* Marge entre les deux conteneurs */
}

.iter-container{
  margin-left: 10px;
  border: solid 1px black;
}



.other-item{
  background-color: blue;
  border: solid 1 rgb(121, 118, 118);
  border-radius: 10px;
  margin: 15px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  color: #ffff;
  width: 120px;
}

.condi{
  background-color: pink;
  border: solid 1 rgb(121, 118, 118);
  border-radius: 10px;
  margin: 15px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  color: #ffff;
  width: 120px;
}

.iter{
  background-color: rgb(181, 166, 168);
  border: solid 1 rgb(121, 118, 118);
  border-radius: 10px;
  margin: 15px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  color: #ffff;
  width: 120px;
}

.button-pink { background-color: pink; }

.button-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    border-radius: 15px;

  }

  

  .button-container button {
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 100px;
  }

  body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: white;
  }
  
  .noeud{
    display: flex;
  }
  .box {
    width: 200px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-left: 20px; /* Ajustez la marge selon vos besoins */
  }
  
  .grid-container {
    display: flex;
    grid-template-columns: 4fr 8fr;
    gap: 10px; /* Espacement entre les colonnes de la grille */
    margin: 20px;
  }
  .grid-box1{
    width: 170px;
    height: 100vh;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
    margin-top: initial;
  }
  
  .grid-box2{
   width: 25em;
    height: 100vh;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    margin-left: 7px;
  }
  
  .grid-box3{
    width: 36em;
    height: 100vh;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
    margin-top: initial;
    margin-left: 20px;
  }
  
  .container{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    border-radius: 20px;
    flex:1;
  }
  
  
  .buttonAdd{
    cursor: pointer;
    background-color: red;
    border-radius: 15px;
    border-block: none;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
  
  }
  
  .buttonAddRule{
  padding: 10px;
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    color: black;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 15px;
    font-size: bold;
    cursor: pointer;
  }
  
  
  
  :host {
    display: block;
    position: relative;
  }
  
  .workflow {
    display: flex;
    align-items: center;
  }
  
  .task {
    position: relative;
    margin: 0 20px;
    text-align: center;
  }
  
  .ellipse {
    width: 50px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 10px auto;
  }
  
  .task p {
    margin: 0;
  }
  
  .start button, .end button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .end button {
    background-color: #e74c3c;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .connector {
    width: 100px;
    height: 2px;
    background-color: #3498db;
    position: relative;
    margin: 0 5px;
  }
  
  .arrows {
    position: absolute;
    top: 80px;
    left: 0;
  }
  
  .field-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  fieldset {
    height: 300px;
  }
  
  mat-list-item {
    display: block !important;
  }
  
  .buttonStart{
    background-color: green;
    border-radius: 15px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
    padding-left: 18px;
  
  }
  
  .buttonExit{
    background-color: red;
    border-radius: 15px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
    padding-left: 18px;
  }
  
  .info{
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .custom-dialog-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  border: none;
  }
  
  table {
  width: 100%;
  border-collapse: collapse;
  }
  
  th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  }
  
  th {
  background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
  background-color: #f2f2f2;
  }
  
  tr:hover {
  background-color: #ddd;
  }


  .myDiagramDiv {
    background: whitesmoke;
    width: 800px;
    height: 300px;
    border: 1px solid black;
  }

 .drag_Zone {
    border: 0.2px dashed red;
    width: 68px;
    height: 100px;
 }

 .g_drag_zone {
  display: flex;
  justify-content: space-between;
 }

 .deleteStep{
  border-radius: 20px;
  border: none;
  background-color: #c2e818;
  font-size: 2.5em;
  height: 60px;
  width: 50px;
 }

 .addStep{
  border-radius: 20px;
  border: none;
  background-color: #303de7;
  font-size: 2.5em;
  height: 60px;
  width: 50px;
 }