.sidebar {
    width: 240px;
    background: #72a5e8;
    color: #fff;
    padding: 20px;
    height: 100vh;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    /* text-align: center; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    padding-left: 10px;
    
  }
  .sidebar a:hover {
    color: blue; /* Couleur au survol */
    background-color: white;
    border-radius: 20px;
    /* text-align: center; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

  }

  .diag-icon{
    width: 22px;
    padding-bottom: 6px;
    margin-right: 6px;
  }

  .bi-person-lock{
    width: 22px;
    padding-bottom: 6px;
    margin-right: 6px;
  }

  .bi-graph-up{
    width: 19px;
    padding-bottom: 6px;
    margin-right: 6px;
  }
  
  